* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

a{
    list-style: none;
    color: #fff;
}

.iconos {
    position: absolute;
    right: 0;
    margin: 0.3rem;
   
}

.iconos img{
    padding-left: 0.5rem;
}
.cabecera {
    display: flex;
    align-items: center;
    margin: 0.8rem;
    justify-content: space-between;
   
}

.login__btn{
    background-color: #fff;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    padding: 0.4rem 2rem;
    font-weight: 500;
    font-size: 0.7rem;
    margin-right: 2rem;
}
.buscar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
}

.btn{
    display: flex;
    align-items: center;
}

.input {
    height: 40px;
    width: 272px;
    padding-left: 0.8rem;
    font-size: 0.7rem;
    color: #A2A2A2;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: none;
    margin-left: 2rem;
}

.buscar__icono{
    position: absolute;
    top: 12px;
    right: 15px;
    width: 18px;
    height: 18px;
    line-height: 17px;
    text-align: center;
    color: #A2A2A2;
    display: none;
}

.container{   
    padding: 0.8rem 0.8rem 0 0.8rem ;
    color: #464646;
}

.container__footer{
    padding: 0.8rem 0.8rem 0 0.8rem ;
    color: #464646;
    background-color: #EAF2FD;
    width: 100%;
    
}

@media screen and (min-width:768px) {
    .input{
        display: block;
    }
    .icono{
        display: none;
    }
    .buscar__icono{
        display: block;
    }
    .login{
        margin-right: 0px;
    }
    .cabecera{
        margin: 0.8rem 1.6rem;
    }
    .container{
        padding: 1.6rem 1.6rem 0 1.6rem;
    }
    .container__footer{
        padding-bottom: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}

@media screen and (min-width:1024px){
    .todo{
        width: 85%;
        margin: 0 auto;        
    }
    .cabecera{
         margin: 0.8rem 0;
    }
    .container__footer{
        padding: 1.6rem 0;
    }
    .logo{
        width: 176px;
        height: 50px;
    }
    .input{
        width: 393px;
    }
    .container{
        padding: 3.1rem 0px 0px 0px;
    }
   
   
}
