.contenido__banner{
    position: absolute;    
    display: flex;
    flex-direction: column;    
    align-items: start;
    bottom: 0;
    margin: 0.8rem;
    color: #fff;
}

@media screen and (min-width:768px) {
    .contenido__banner{
        margin: 1.6rem;
    }
}
@media screen and (min-width:1024px) {
    .contenido__banner{
        margin: 1.6rem 5.5rem;
    }
}