.producto {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    width: 48%;
    position: relative;
    flex-wrap: wrap;
}
.block{
    display: none;
}

 .producto__imagen--json{
    width: 200px;
    height: 174px;
} 

@media screen and (min-width:768px) {
    .producto{
        width: 23%;
    }
}

@media screen and (min-width:1024px) {
    .producto{
        width: 16%;
    }
    .block{
        display: inline-flex;
    }   
}