.contacto__lista li{
    text-align: center;
    margin-top: 0.7rem;
    list-style: none;
   
}

@media screen and (min-width:768px) {
    .contacto__lista li{
        text-align: justify;
    }
    
}
@media screen and (min-width:1024px) {
    .contacto__lista {
        margin: 0rem 1rem;
        text-align: left;
    }
}