.agragar__contenido{
      display:flex;  
      flex-direction: column;      
      width:275px;
      height: auto;
      text-align: start;
      color: #464646;      
}

@media screen and (min-width:1024px) {
    .agragar__contenido {
        width: 559px;
      
    }
}
@media screen and (max-width:768px) {
    .agragar__contenido {
        width:100%;
    
        margin: 1.2rem;
    }
}