.agregar__input{
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    color: #464646;
    font-family: 'Raleway',
    sans-serif;
    ;
}

.agregar__input::placeholder {
    visibility: hidden;
    color: #464646;
}

.agregar__input:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
}


.agregar__input:not(:placeholder-shown) + .agregar__label,
.agregar__input:focus + .agregar__label{
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;    
}
